<div class="container">
    <h4>Add Recipe</h4>
    <form [formGroup]="myForm" novalidate (ngSubmit)="addRecipe(myForm.value)">
        <!--name-->
        <div class="form-group">
            <label>Recipe Name</label>
            <input type="text" formControlName="name">
            <small *ngIf="!myForm.controls.name.valid" class="text-danger">
                Recipe name is required
            </small>
        </div>
        <!--list of ingredients-->
        <div formArrayName="ingredients">
            <div *ngFor="let ingredient of myForm.controls.ingredients.controls; let i=index">
                <div>
                    <span>Ingredient {{i + 1 }}</span>
                    <span *ngIf="myForm.controls.ingredients.controls.length > 1" (click)="removeIngredient(i)"></span>
                </div>
            </div>
        </div>
        <!-- Angular assigns array index as group name by default 0, 1, 2, ... -->
        <div [formGroupName]="i">
            <!--ingredient name-->
            <div>
                <label>Ingredient</label>
                <input type="text" formControlName="ingredientName">
                <small *ngIf="!myForm.controls.ingredients.controls[i].controls.ingredientName.valid" class="text-danger">
                    Ingredient name is required
                </small>
            </div>
            <!--quantity-->
            <div>
                <label>Quantity</label>
                <input type="text" formControlName="quantity">
                <small *ngIf="!myForm.controls.ingredients.controls[i].controls.quantity.valid" class="text-danger">
                    Ingredient quantity is required
                </small>
            </div>
        </div>
        <button type="submit" [disabled]="!myForm.valid">Submit</button>
    </form>
</div>

<div class="recipe-list">
    <div class="row" *ngFor="let recipe of recipes">
        <div class="col-md-3">
            {{ recipe.name }}
        </div>
        <div class="col-md-6">
            <p *ngFor="let ingredient of recipe.ingredients">
                {{ ingredient.name}} | {{ ingredient.quantity }}
            </p>
        </div>
        <div class="col-md-3">
            <input type="button" (click)="deleteRecipe(recipe._id)" class="btn btn-danger" value="Delete">
        </div>
    </div>
    <hr>
</div>