<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <div id="recipesTitle">
            <h1>My Recipes</h1>
        </div>
    </div>
    <div class="col-md-2"></div>
</div>
<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8" id="searchBox">
        <p class="lead">Search recipe: </p>
        <input type="text" class="form-control" [(ngModel)]="queryString" placeholder="Filter by..">
    </div>
    <div class="col-md-2"></div>
</div>
<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <div *ngFor="let recipe of recipes | SearchPipe:queryString">
                <div class="panel panel-default">
                    <h4 class="panel-heading">{{ recipe.name }}</h4>
                    <div class="panel-body">
                        <p *ngFor="let ingredient of recipe.ingredients">
                            {{ ingredient.name}} : {{ ingredient.quantity }}
                        </p>
                        <input type="button" (click)="deleteRecipe(recipe._id)" class="btn btn-danger" value="Delete">
                        <a class="go-to-recipe-button btn btn-primary" routerLink="/recipe/{{recipe._id}}" routerLinkActive="active">View Recipe</a>
                    </div>
                </div>
        </div>
    </div>
    <div class="col-md-2"></div>
</div>