<!--<nav>
    <a routerLink="/recipes" routerLinkActive="active">Recipes</a>
    <a routerLink="/cookbooks" routerLinkActive="active">Cookbooks</a>
</nav>-->
<nav class="navbar navbar-light bg-warning">
  <div class="nav navbar-nav">
    <a routerLink="/recipes" routerLinkActive="active" class="nav-item nav-link active">Recipes</a>
    <a routerLink="/new" routerLinkActive="active" class="nav-item nav-link active">New</a>
    <a routerLink="/cookbooks" routerLinkActive="active" class="nav-item nav-link active">Cookbooks</a>
  </div>
</nav>
<div class="container">
    <router-outlet></router-outlet>
</div>